<p>
  Шановнi друзi, якщо ви бажаєте поспiлкуватись на будь-яку тему стосовно вiдпочинку на б.в "{{siteName}}", ви можете
  неодмiнно зателефонувати чи вiдправити повiдомлення на електронну адресу bo.gloriya@gmail.com .
</p>

<h3> З повагою, б/в «{{siteName}}»</h3>
<hr>
Нашi контакти:
<br>
+38(093)95-195-95 (viber)
<hr>
+38(066)17-940-72
<hr>
bo.gloriya@gmail.com
<hr>
Одеська обл. Бiлгород-Днiстровський р-н,  Затока, ст. Лиманськая, вул.Вокзальна, 74.

<div class="map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7438051.253222001!2d5.92504538029344!3d76.84591671102523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x45a1cfdc4fa3c049%3A0x2bf373e71b35e875!2z0KjQv9GW0YbQsdC10YDQs9C10L0sINCh0LLQsNC70YzQsdCw0YDQtA!5e0!3m2!1suk!2sua!4v1590013077358!5m2!1suk!2sua"
    width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
    tabindex="0"></iframe>
</div>
