<div ngbDropdown class="d-inline-block">
  <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Меню сайту</button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <button routerLink="info" ngbDropdownItem>Про комплекс та послуги</button>
    <button routerLink="rent" ngbDropdownItem>Будинки та кімнати</button>
    <button routerLink="addServices" ngbDropdownItem>Додаткові послуги</button>
    <button routerLink="map" ngbDropdownItem>Схема комплексу</button>
    <button routerLink="contacts" ngbDropdownItem>Контакти</button>
  </div>
</div>
