<div class="row">
  <div class="col-md-4 col-sm-6 item">
    <div class="card item-card card-block">
      <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
      <div class="info">
        <h5 class="item-card-title mt-3 mb-3">Sierra Web Development • Owner</h5>
        <p class="inInfi"><span>Домісна</span><span>З видом на гори</span><span>Lux</span></p>
        <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p>
        <button routerLink="single"  mat-raised-button color="accent">Детальніше</button>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 item">
    <div class="card item-card card-block">
      <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
      <div class="info">
        <h5 class="item-card-title mt-3 mb-3">Sierra Web Development • Owner</h5>
        <p class="inInfi"><span>Домісна</span><span>З видом на гори</span><span>Lux</span></p>
        <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p>
        <button routerLink="single"  mat-raised-button color="accent">Детальніше</button>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 item">
    <div class="card item-card card-block">
      <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
      <div class="info">
        <h5 class="item-card-title mt-3 mb-3">Sierra Web Development • Owner</h5>
        <p class="inInfi"><span>Домісна</span><span>З видом на гори</span><span>Lux</span></p>
        <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p>
        <button routerLink="single"  mat-raised-button color="accent">Детальніше</button>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 item">
    <div class="card item-card card-block">
      <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
      <div class="info">
        <h5 class="item-card-title mt-3 mb-3">Sierra Web Development • Owner</h5>
        <p class="inInfi"><span>Домісна</span><span>З видом на гори</span><span>Lux</span></p>
        <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p>
        <button routerLink="single"  mat-raised-button color="accent">Детальніше</button>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 item">
    <div class="card item-card card-block">
      <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
      <div class="info">
        <h5 class="item-card-title mt-3 mb-3">Sierra Web Development • Owner</h5>
        <p class="inInfi"><span>Домісна</span><span>З видом на гори</span><span>Lux</span></p>
        <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p>
        <button routerLink="single"  mat-raised-button color="accent">Детальніше</button>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 item">
    <div class="card item-card card-block">
      <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
      <div class="info">
        <h5 class="item-card-title mt-3 mb-3">Sierra Web Development • Owner</h5>
        <p class="inInfi"><span>Домісна</span><span>З видом на гори</span><span>Lux</span></p>
        <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p>
        <button routerLink="single"  mat-raised-button color="accent">Детальніше</button>
      </div>
    </div>
  </div>
</div>
