<div class="row">
  <div class="col-6">
    <img class="houseImg" src="https://www.discovergreece.com/sites/default/files/styles/hd/public/2019-12/4_panoramic_landscape_view_on_mystras_close_to_sparta_laconia-1.jpg?itok=95rSCaxQ" alt="">
  </div>
  <div class="col-6">
    <div class="info">
      <h2 class="item-card-title mt-3 mb-3">Sierra Web Development • Owner</h2>
      <p class="inInfi"><span>Домісна</span><span>З видом на гори</span><span>Lux</span></p>
      <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p>
    </div>
  </div>
</div>

<form #records="ngForm" class="form" (ngSubmit)="success()">
  <div >
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <input name="name" matInput>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Textarea</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <hr>
      <button [disabled]="records.invalid" mat-raised-button color="accent">Забронювати</button>
    </div>

  </div>
</form>
