<div>
  <h1>Вас вітає база відпочинку {{siteName}}</h1>
  <div class="row">
    <div class="col-8">
      <img class="picture" src="https://www.discovergreece.com/sites/default/files/styles/hd/public/2019-12/4_panoramic_landscape_view_on_mystras_close_to_sparta_laconia-1.jpg?itok=95rSCaxQ" alt="">
    </div>
    <div class="col-4 center">
      <h3>Забронюйте кімнату!</h3>
      <button routerLink="order" mat-stroked-button color="accent">Забронювати</button>
    </div>
  </div>
</div>

<div class="">

  <div class="title">
    <div class="title__inner">
      <div class="title__text"><h1 class="small-h1">Сервiс</h1></div>
    </div>
  </div>

  <div class="page-body">
    <div class="service__text">
      <ul>
        <li>На території бази&nbsp;є два дитячих&nbsp;майданчика(гойдалки,турніки,батут).</li>
        <li>Зона Wi-Fi&nbsp;для роботи чи відпочинку з альтанками.</li>
        <li>На території б/в "Глорія" є платна парковка для авто - 15грн/доб.</li>
        <li>Гарно провести теплий літній вечір у компанії друзів чи рідних можна в зоні барбекю(з альтанками) на березі&nbsp;лиману.</li>
        <li>Незабутні світлини, на заході сонця,&nbsp;у хвилях&nbsp;Дністровського лиману затамують подих, будь-якої творчої людини.</li>
      </ul>

      <p>&nbsp;</p>

      <ul>
      </ul>
    </div>
  </div>
</div>
