<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle routerLink="info" value="bold">Про комплекс та послуги</mat-button-toggle>
  <mat-button-toggle routerLink="rent" value="italic">Будинки та кімнати</mat-button-toggle>
  <mat-button-toggle routerLink="addServices" value="underline">Додаткові послуги</mat-button-toggle>
  <mat-button-toggle routerLink="map" value="italic">Схема комплексу</mat-button-toggle>
  <mat-button-toggle routerLink="contacts" value="underline">Контакти</mat-button-toggle>
</mat-button-toggle-group>
